<div class="mynthos">
    <div class="mynthosimganimé">
        <div class="light"></div>
        <div class="light2"></div>
        <div class="imgmynthos"></div>
    </div>
    <div class="jusdemynthos">
        <h3>le jus de mynthos</h3>
        <p>Collaboration exclusive</p>
        <p>Découvrez l'exclusivité : la fusion inédite entre Le Jus de Mynthos et the french tototte®, offrant un goût rare et recherché.
            Une collaboration qui révèle l'essence de l'excellence et de l'originalité, à savourer sans plus attendre.</p>
    </div>
</div>