<div class="toteblock">
    <div class="imgfond"></div>
    <div class="tote"></div>
    <div class="fonttech">
        <div class="tech">
            <div class="h3r">
                <h3>technologie plug’n’tote<span>®</span></h3>
            </div>
            <div class="coltote">
                <p>La tototte est équipée de la <span>technologie plug'n'tote</span>, permettant de changer de plug à volonté,
                    offrant ainsi un accès à une <span>gamme infinie de saveurs de suçotage</span> pour satisfaire tous les goûts.</p>
                <p>Cette technologie vous permet de changer en un clin d’œil de saveur pour <span>voyager du bout des lèvres.</span></p>
            </div>
            <div class="seveurcenter">
                <input class="button3" type="submit" value="Découvrir les saveurs">
                <span class="vertical-line"></span>
            </div>
        </div>
    </div>
</div>
