<div class="presentation">
    <div class="block1">
        <div class="img1"></div>
        <h3>élégante et sophistiquée</h3>
        <p>Design raffiné et ornements exclusifs pour une expérience de vapotage distinguée et élégante</p>
    </div>
    <div class="block2">
        <h3>personnalisable</h3>
        <p>Ornements et accessoires premium pour créer une vapoteuse unique qui reflète votre style personnel</p>
    </div>
    <div class="block3">
        <h3>made in france</h3>
        <p>Savoir-faire français pour une expérience de suçotage authentique et exceptionnelle</p>
    </div>
    <div class="block4">
        <h3>innovante</h3>
        <p>Technologies de pointe offrant une expérience de suçotage révolutionnaire et inégalée.</p>
    </div>
    <div class="block5">
        <h3>savoureuse</h3>
        <p>Palette de saveurs exquises pour une expérience de suçotage délicieusement satisfaisante et immersive.</p>
        <div class="image-containers">
            <img src="{{ asset("image/02791.png") }}" alt="pod" id="follow-image">
        </div>
    </div>
    <div class="block6">
        <div class="flag">
            <div class="blue">
            </div>
            <div class="white">
            </div>
            <div class="red">
            </div>
        </div>
        <div>
            <h3>hébergement 100% français</h3>
            <p>Notre site web est hébergé en france grâce à notre partenaire o2switch.</p>
        </div>
    </div>
</div>

