<div class="sucoter">
    <div class="sanssoucis">
        <h3>suçotez sans soucis</h3>
        <p>
            La tototte offre une <span>autonomie impressionnante</span> de 50 heures de suçotage grâce à sa batterie au lithium,
            assurant ainsi <span>des heures de plaisir ininterrompu</span> pour encore plus de confort et de tranquillité.
        </p>
    </div>
    <div class="sucetteimg">

    </div>
    <div class="sanssoucis">
        <h3>50h</h3>
        <p>de suçotage Bluetooth sans interruption</p>
        <p>Grâce aux <span>technologies sans contact</span> profitez d’une recharge rapide sur son socle à induction</p>
    </div>
</div>

